/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

header {
    background: #f53942;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
}

header nav {
    margin-top: 15px;
}

header button {
    background: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

header button:hover {
    background: #0056b3;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    background-image: url("img1.jpg");
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    height: 80vh;
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-radius: 25px;
    background: #f53942;
}

.hero p {
    font-size: 1.2rem;
    
    margin-bottom: 30px;
    color: white;
    border: none;
    border-radius: 25px;
    background: #f53942;
}

.action-buttons button {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button {
    background: #f53942;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.primary-button:hover {
    background: #0056b3;
}

.secondary-button {
    background: #f4f4f4;
    color: #f53942;
    font-weight: bold;
}

.secondary-button:hover {
    background: #ddd;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
